<?xml version="1.0" encoding="utf-8"?>
<!--
     Este archivo de configuración es necesario si iisnode se utiliza para ejecutar aplicaciones de nodo detrás
     de IIS o IIS Express. Para obtener más información, visite:

     https://github.com/tjanczuk/iisnode/blob/master/src/samples/configuration/web.config
-->

<configuration>
  <system.webServer>
    <!-- Indica que el archivo server.js es una aplicación de nodo.js que IIS debe manejar con el módulo iisnode -->
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode"/>
    </handlers>
    
    <rewrite>
      <rules>
        <!-- No interferir con las solicitudes del depurador de nodos -->
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^server.js\/debug[\/]?" />
        </rule>

        <!-- Primero consideramos si la URL entrante coincide con un archivo físico en la carpeta /public -->
        <rule name="StaticContent">
          <action type="Rewrite" url="public{REQUEST_URI}"/>
        </rule>

        <!-- Todas las demás URL se asignan al punto de entrada de la aplicación de nodos -->
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
          </conditions>
          <action type="Rewrite" url="server.js"/>
        </rule>
      </rules>
    </rewrite>
    
    <!-- 'bin' directorio no tiene ningún propósito útil en Azure y puede ser ignorado -->
    <security>
      <requestFiltering>
        <hiddenSegments>
          <remove segment="bin"/>
        </hiddenSegments>
      </requestFiltering>
    </security>

    <!-- Asegúrese de que los mensajes de error se envían de vuelta al navegador -->
    <httpErrors existingResponse="PassThrough" />

    <!--
      Puede controlar la forma en que Node se hospeda en IIS usando las siguientes opciones:
        * watchedFiles: lista separada por punto y coma de archivos que reiniciará el servidor
        * node_env: valor que se usará como la variable de entorno NODE_ENV
        * debuggingEnabled - controles de depuración
        
      Ver https://github.com/tjanczuk/iisnode/blob/master/src/samples/configuration/web.config para una lista completa de opciones
    -->
    <iisnode watchedFiles="web.config;*.js"/>
  </system.webServer>
</configuration>
